body {
    display: flex;
}

#yellow {
    order: 1;
    flex: 1;
}

#red {
    order: 2;
    flex: 1;
}

#green {
    order: 3;
    flex: 1;
}

#orange {
    order: 4;
    flex: 3;
}

#blue {
    order: 5;
    flex: 1;
}